<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
</head>
<body>

<h1 style="background-color:rgb(230, 191, 176);">Digital Filter</h1>


<canvas id="myCanvas" width="400" height="300"
style="border:1px solid #d3d3d3;">
Your browser does not support the canvas element.
</canvas>
    
 <script>
var canvas = document.getElementById("myCanvas");
var ctx = canvas.getContext("2d");
ctx.beginPath();
ctx.arc(190,150,100,0,2*Math.PI);
ctx.stroke();

</script> 
<canvas id="myCanvas" width="400" height="300"
style="border:1px solid #d3d3d3;">
Your browser does not support the canvas element.
</canvas>

<script>

var canvas = document.getElementById("myCanvas");
var ctx = canvas.getContext("2d");
ctx.moveTo(0,0);

ctx.stroke();

</script>  
   
<div>
    <button type="button" onclick="alert('Cleared')">Clear all</button>
    <button type="button" onclick="alert('selected item deleted')">Delete</button>
    <button type="button" onclick="alert('pole added')">add pole</button>
    <button type="button" onclick="alert('zero added')">add zero</button>
</div>
<p><textarea id="coefsList_polezero2" rows="8" cols="64" readonly="readonly"></textarea></p>
</body>
</html>